@use 'variables';

@keyframes progresoBtn {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

.formulario {
	background: variables.$color-fondo-formulario;
	border: 1px solid variables.$color-borde;
	border-radius: 10px;
	display: grid; //Convierte el elemento en un contenedor Grid. Esto permite organizar el interior en filas y columnas
	grid-template-rows: auto 1fr auto; //3 lineas: se ajusta a su contenido|ocupa espacio que sobra|se ajusta a su contenido (header-body-footer)
	gap: 30px; //Define el espacio entre las filas y columnas del grid.
	transition: 0.3s ease all;  //This means ALL animatable CSS properties will transition if they change

	&--hidden {
		display: none;
	}

	&__header {
		display: flex; //Esto activa Flexbox, un sistema para acomodar elementos en filas o columnas.
		flex-direction: column;  //Los hijos deben colocarse verticalmente, uno debajo del otro
		gap: 30px;  //Es la separación entre los hijos de ese contenedor.
		padding: 30px 30px 0 30px;  //top  right  bottom  left
	}

	&__body {
		transition: 0.3s ease all;
		display: flex;
		flex-wrap: nowrap; //Indica que los elementos hijos no se envuelven a la siguiente línea.
		overflow: hidden; //Oculta cualquier contenido que salga de los límites del contenedor
		scroll-snap-type: x mandatory;  //Activa la “alineación de scroll” en el eje horizontal (x).mandatory → obliga a que el scroll se detenga exactamente en cada sección.
	}

	&__seccion {
		padding: 0 30px;
		scroll-snap-align: start; //Indica que esta sección se alineará al inicio del contenedor cuando se haga scroll.
		min-width: 100%;
		flex-direction: column;
		// display: none;
		display: flex;
		justify-content: center;
		&--active {
			display: flex;
		}
	}

	&__footer {
		display: flex;  //el valor por defecto es row de la direccion
		justify-content: center;
		padding-bottom: 30px;
	}

	&__titulo {
		font-size: 20px;
		text-align: center;
		font-weight: 500;
	}

	&__subtitulo {
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 30px;
	}

	&__grupo-inputs {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	&__grupo-input {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__label {
		font-size: 14px;
		margin-bottom: 10px;
	}

	&__input {
		height: 50px;
		width: 100%;
		max-width: 280px;
		display: flex;
		align-items: center;
		text-align: center;
		background: variables.$color-fondo-formulario;
		border: 1px solid variables.$color-borde;
		outline: none;
		font-family: variables.$fuente-primaria;
		font-size: 16px;
		color: #fff;
		border-radius: 5px;
		&:focus { //cuando el user hace click o navega con tab hasta el input
			border: 1px solid variables.$color-borde-activo;
		}

		&--error {
			border: 1px solid red;
			&:focus {
				border: 1px solid red;
			}
		}
	}

	&__input--error + &__leyenda {  //aplica cuando leyeda esta despues input--error
		display: block;
	}

	&__leyenda {
		margin-top: 10px;
		font-size: 14px;
		display: none;
	}

	&__btn {
		background: variables.$color-primario;
		border: none;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		padding: 0 12px;
		cursor: pointer;
		font-family: variables.$fuente-primaria;
		font-size: 16px;
		font-weight: 500;
		height: 50px;
		width: 160px;
		border-radius: 5px;
		overflow: hidden;

		&--disabled {
			position: relative; 
			&::after {  //Permite crear un “elemento” virtual después del contenido real del elemento
				content: ''; // Necesario para que exista el pseudo-elemento
				position: absolute; // Se posiciona respecto al botón
				left: 0;
				bottom: 0;
				width: 100%; // Empieza ocupando todo el ancho del botón
				height: 5px; // Altura de la barra de progreso
				background: #fff; // Color de la barra
				animation: progresoBtn 4s ease-out forwards; // Aplica la animación definida con @keyframes
			}
			background: variables.$color-primario-deshabilitado;
		}
	}

	&__btn-contenedor-icono {
		display: none;
		align-items: center;
		width: 24px;
		height: 24px;
		&--active {
			display: flex;
		}
	}

	&__btn-icono {
		width: 100%;
		height: 100%;
	}

	&__grupo-checkbox {
		display: flex;
		gap: 20px;
		justify-content: center;
	}

	&__radio-input {
		display: none;
	}

	&__radio-input:checked + &__radio-label {
		&::after { //Permite crear un círculo dentro del radio button visualmente, sin HTML extra.
			content: '';
			display: block;
			width: 13px;
			height: 13px;
			border-radius: 13px;
			background: variables.$color-primario;
			position: absolute;
			left: 27px;
		}
	}

	&__radio-label {
		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		border: 1px solid variables.$color-borde;
		border-radius: 5px;
		font-size: 14px;
		padding: 0 25px 0px 60px;
		position: relative;
		cursor: pointer; //Cambia el cursor del mouse a una mano cuando pasa sobre el elemento
		&::before { //Pseudo-elemento que se crea antes del contenido del selector padre. Se usa aquí para crear la “burbuja” del radio button vacía.
			content: '';
			display: block;
			position: absolute;
			left: 20px;
			height: 25px;
			width: 25px;
			border-radius: 25px;
			border: 1px solid variables.$color-borde;
		}
	}

	&__parrafos {
		line-height: 30px;
		text-align: center;
	}
}